/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .app {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 10px); */
  /* margin: 10px 10px 0 10px;
} */

/* .login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

} */

nav#sign-in {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

div#sign-up {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.level {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.container {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.navbar {
  display: flex;
  border-style: dotted;
  margin: 10px 10px 0 10px;
}

/* .sidebar {
  width:25%;
  border-style: dotted;
  margin: 10px 10px 0 10px;
  overflow: scroll;
  padding: 5px;
} */

/* .book-content {
  width: 70%;
  border-style: dotted;
  margin: 10px 10px 0 10px;
  padding: 5px;
  padding-left: 10px;
  overflow: scroll;
} */

/* .control {
  border-style: dotted;
  margin: 10px 10px 0 10px;
} */

/* .book-list {
  border-style: dotted;
  margin: 10px 10px 0 10px;
}

.search-form {
  border-style: dotted;
  width: 100%;
  margin: 10px;
  padding: 5px;
  height:
} */
