
nav#sign-in {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

div#sign-up {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

div#book-content {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

div#navheader {
  border-style: dotted;
  padding: 30px 20px 30px 20px;
  margin: 30px;
}

section {
  margin-left: 60px;
  margin-right: 60px;
}

.main-container {
  border-style: dotted;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.navbar {
  display: flex;
  border-style: dotted;
  margin: 10px 10px 0 10px;
}
