.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin: 10px 10px 0 10px;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.signin {
  display: flex;
  border-style: dotted;
  justify-content: space-between;
  padding: 5px;
  margin: 2px;
}

.signup {
  display: flex;
  border-style: dotted;
  justify-content: center;
  height: 200px;
  padding: 5px;
  margin: 2px;
}

.container {
  border-style: dotted;
  display: flex;
  height: calc(100vh - 10px);
  margin: 10px 10px 0 10px;
}

.navbar {
  display: flex;
  border-style: dotted;
  margin: 10px 10px 0 10px;
}

.sidebar {
  width:30%;
  border-style: dotted;
  margin: 10px 10px 0 10px;
  overflow: scroll;
  padding: 5px;
}

.book-content {
  width: 70%;
  border-style: dotted;
  margin: 10px 10px 0 10px;
  padding: 5px;
  padding-left: 10px;
}

.control {
  border-style: dotted;
  margin: 10px 10px 0 10px;
}
