.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.signin {
  display: flex;
  border-style: dotted;
  justify-content: space-between;
  padding: 5px;
  margin: 2px;
}

.signup {
  display: flex;
  border-style: dotted;
  justify-content: center;
  height: 200px;
  padding: 5px;
  margin: 2px;
}

.main-container {
  /* this is the main container, the nav, book container and list container are inside */

}

.navbar {
  width: 100%;
  display: flex;
  border-style: dotted;
  justify-content: space-between;
  padding: 5px;
  margin: 2px;
}
